.article {
  border: 1px solid #fff;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  margin: 1rem;
  &_link {
    color: #fff;
    margin: 1rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
}
